.section-features {
  padding: 15rem 15rem;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;

  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
  .row {
    display: flex;
    grid-gap: 5rem;
    text-align: center;
    justify-content: space-between;
    .feature-box {
      background-color: rgba($color-white, 0.8);
      width: 100%;
      font-size: 1.4rem;
      padding: 1.3rem;
      text-align: center;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
      transition: all 0.3s;

      &__icon {
        font-size: 6rem;
        margin-bottom: 0.5rem;
        display: inline-block;
        background-image: linear-gradient(
          to right,
          $color-primary-light,
          $color-primary-dark
        );
        background-clip: text;
        color: transparent;
      }
      &:hover {
        transform: translateY(-1.5rem) scale(1.03);
      }
    }
  }
}
